.inner_c{
	width: 1190px;
	margin: 0 auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.cl{
	clear: both;
}
.h8{
	height: 8px;
}
.h20{
	height: 20px;
}
/*顶部开始*/
.topbar{
	width: 100%;
	height: 26px;
	background-color: #F5F5F5;
}
.topbar .inner_c .fl span{
	line-height: 26px;
	font-size: 12px;
	font-family: "微软雅黑";
	color:#555;
}
.topbar .inner_c .fl span a:link,.topbar .inner_c .fl span a:visited{
	color:#e33b3d;
	text-decoration: none;
}
.topbar .inner_c .fl span a:hover{
	color:#e33b3d;
}
.topbar .inner_c .fr ul li{
	float: left;
	padding-right: 4px;
	padding-left: 4px;
	display: block;
	line-height: 26px;
}
.topbar .inner_c .fr ul li a:link,.topbar .inner_c .fr ul li a:visited{
	color:#555;
}
.topbar .inner_c .fr ul li.fir a:hover{
	color:#e33b3d;
}
.topbar .inner_c .fr ul li.fir a{
	padding-left: 15px;
	position: relative;
}
.topbar .inner_c .fr ul li.fir a b{
	background:  url(../images/shouji.jpg) no-repeat;
	width: 13px;
	height: 18px;
	position: absolute;
	left:-0.1px;
	top:-2px;
}
/*顶部结束*/
/*头部开始*/
.header{
	height: 73px;
}
.header .logo h1{
	width: 231px;
	height: 73px;
	display: inline-block;
	background:  url(../images/logo1231.png) left center no-repeat;
}
.header .logo h1 a{
	display: block;
	width: 231px;
	height: 73px;
	text-indent: -2000em;
}
.header .xuexi{
	width: 231px;
	height: 73px;
	padding-left: 182px;
	background:  url(../images/icon_try.jpg) center right no-repeat;
}
.header .xuexi a{
	display: block;
	width: 231px;
	height: 73px;
}
.header .search{
	padding-right: 1px;
	padding-top: 20px;
}
.header .search .soso{
	width: 343px;
	height: 37px;
}
.header .search .soso .kuang{
	width: 280px;
	height: 35px;
	border: solid 1px #D0D2D4;
	position: relative;
}
.header .search .soso .kuang .jiahezi{
	position: absolute;
	top:0;
	left: 0;
    font-family: 'Microsoft Yahei';
    font-size: 12px;
    color:#888;
    line-height: 34px;
    padding-left: 5px;
}
.header .search .soso .kuang input{
	border:none;
	width:275px;
	height:35px;
	font-size: 12px;
	color:black;
	padding-left: 5px;
	outline:none;
	line-height: 35px;
}
.header .search .soso .kuang img{
	position: absolute;
	top:9px;
	right: 12px;
	width: 16px;
	height: 18px;
}
.header .search .soso .btn .submit{
	width: 61px;
	height: 37px;
	background-color: #CC3333;
	border: none;
	color:white;
	font-size: 15px;
	cursor: pointer;
}
/*头部结束*/
/*top_nav开始*/
.top_nav{
	background-color: #E43B3E;
	height: 39px;
}
.top_nav .inner_c ul li{
	float: left;
	width: 139px;
	height: 39px;
	text-align: center;
}
.top_nav .inner_c ul li.cur,.top_nav .inner_c ul li.first{
	background-color: #A40000;
}
.top_nav .inner_c ul li a:link,.top_nav .inner_c ul li a:visited,
.top_nav .inner_c ul li a:hover{
	font-size: 16px;
	color: #fff;
	line-height: 39px;
}
.top_nav .inner_c ul li.hot{
	position: relative;
}
.top_nav .inner_c ul li.hot b{
	width: 26px;
	height: 14px;
	position: absolute;
	top:-8px;
	right:32px;
	background:  url(../images/hot-icon.png) no-repeat;
}
/*top_nav结束*/
/*main开始*/
.mainbox{
	height: 492px;
}
.mainbox .mainbox_l{
	width: 138px;
	height: 492px;
}
.mainbox .mainbox_l ul{
	width: 136px;
	height: 490px;
	border: solid 1px #E3393B;
}
.mainbox .mainbox_l ul li{
	width: 136px;
	height: 47px;	
}
.mainbox .mainbox_l ul li.first{
	height: 55px;
}
.mainbox .mainbox_l ul li.first a{
	padding-top:8px;
}
.mainbox .mainbox_l ul li.last{
	height: 59px;
}
.mainbox .mainbox_l ul li a{
	border-bottom: 1px solid #EEE3F1;
	text-align: center;
	display: block;
	width: 134px;
	height: 46px;
	border-left: 2px solid #fff;
	line-height: 46px;
	position: relative;
}
.mainbox .mainbox_l ul li.last a{
	padding-bottom: 13px;
	border-bottom: none;
	line-height: 51px;	
}
.mainbox .mainbox_l ul li a:link,.mainbox .mainbox_l ul li a:visited{
	color:#666;
}
.mainbox .mainbox_l ul li a:hover{
	color:#e33b3d;
	border-left: 2px solid #e33b3d;
}
.mainbox .mainbox_l ul li a span{
	background:  url(../images/icon_meau2.png) no-repeat;
	position: absolute;
	top:12px;
	left: 16px;
	width: 20px;
	height: 22px;
}
.mainbox .mainbox_l ul li a span.nvzhuang{
	top:20px;
}
.mainbox .mainbox_l ul li a span.nanzhuang{
	background-position: 0 -47px;
}
.mainbox .mainbox_l ul li a span.xiebao{
	background-position: 0 -94px;
}
.mainbox .mainbox_l ul li a span.shuma{
	background-position: 0 -141px;
}
.mainbox .mainbox_l ul li a span.muying{
	background-position: 0 -188px;
}
.mainbox .mainbox_l ul li a span.meizhuang{
	background-position: 0 -238px;
}
.mainbox .mainbox_l ul li a span.meishi{
	background-position: 0 -284px;
}
.mainbox .mainbox_l ul li a span.jiaju{
	background-position: 0 -331px;
}
.mainbox .mainbox_l ul li a span.zhubao{
	background-position: 0 -378px;
}
.mainbox .mainbox_l ul li a span.qita{
	background-position: 0 -424px;
}
/*main_m部分*/
.mainbox .mainbox_m{
	width: 767px;
	height: 482px;
	padding: 10px 9px 0px;
}
#carousel{
	width: 767px;
	height: 300px;
	position: relative;
}
#carousel ul li{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
#carousel ul li.first{
	display: block;
}
#carousel ol.circles{
	position: absolute;
	bottom: 2px;
	right: 17px;
	width: 105px;
	height: 25px;
}
#carousel ol.circles li{
	float: left;
	width: 25px;
	height: 25px;
	background-color: #000;
	margin-left: 10px;
	border-radius: 50%;
	text-align: center;
	line-height: 25px;
	color:white;
	cursor: pointer;
}
#carousel ol.circles li.cur{
	background-color:#CC0000;
}
.mainbox .mainbox_m .mainbox_m_b{
	width: 765px;
	height: 182px;
	border-bottom: 1px solid #E8E8E8;
	border-left: 2px solid #E8E8E8;
}
.mainbox .mainbox_m .mainbox_m_b div{
	float: left;
	border-right: 1px solid #e8e8e8;
}
.mainbox .mainbox_r{
	width: 265px;
	height: 480px;
	border: 1px solid #e8e8e8;
	margin-top: 10px;
}
.mainbox .mainbox_r .tongzhi{
	width: 228px;
	height: 191px;
	border-bottom: 1px solid #e8e8e8;
	background:  url(../images/lingdai.jpg) 0 0 no-repeat;
	padding-top: 17px;
	padding-left: 37px;
}
.mainbox .mainbox_r .tongzhi li{
	height:59px;
	width: 187px;
	display: block;
}
.mainbox .mainbox_r .tongzhi li.shangxin{
	background:  url(../images/dian.jpg) 0 0 no-repeat;
}
.mainbox .mainbox_r .tongzhi li.dijia{
	background:  url(../images/lan.jpg) 0 0 no-repeat;
}
.mainbox .mainbox_r .tongzhi li.zhijian{
	background:  url(../images/lv.jpg) 0 0 no-repeat;
}
.mainbox .mainbox_r .tongzhi li p,.mainbox .mainbox_r .tongzhi li span{
	line-height: 20px;
	padding-left: 53px;
}
.mainbox .mainbox_r .tongzhi li p{
	font-size: 14px;
	font-weight: bold;
	color: #555;
}
.mainbox .mainbox_r .zhuce{
	height: 83px;
	width: 100%;
	border-bottom: 1px solid #e8e8e8;
	padding-top: 22px;
}
.mainbox .mainbox_r .zhuce .zhuce_box{
	width: 121px;
	height: 68px;
	margin:0 auto;
}
.mainbox .mainbox_r .zhuce .zhuce_box p{
	line-height: 33px;
	text-align: center;
}
.mainbox .mainbox_r .zhuce .zhuce_box p a{
	color: #009aff;
}
.mainbox .mainbox_r .tab .hd span{
	float: left;
	line-height: 36px;
	text-align: center;
	padding: 0;
	background-color: #F7F7F7;
}
.mainbox .mainbox_r .tab .hd span.guanfang{
	width: 131px;
	border-right: 1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8 ;
}
.mainbox .mainbox_r .tab .hd span.guanfang.current{
	border-right: 1px solid #fff;
	border-bottom:1px solid #fff ;
	background-color: #fff;
}
.mainbox .mainbox_r .tab .hd span.maijiaguize{
	width: 132px;
	border-left: 1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
}
.mainbox .mainbox_r .tab .hd span.maijiaguize.current{
	border-left: 1px solid #fff;
	border-bottom:1px solid #fff;
	background-color: #fff;
}
.mainbox .mainbox_r .tab .bd{
	width: 265px;
	height: 115px;
	padding-top: 13px;
}
.mainbox .mainbox_r .tab .bd div{
	display: none;
	line-height: 26px;
}
.mainbox .mainbox_r .tab .bd div.current{
	display: block;
}
.mainbox .mainbox_r .tab .bd div li{
	padding-left: 23px;
	background:  url(../images/dia.jpg) 6px center no-repeat;
}
/*main结束*/
/*no1_f开始*/
.no1_f{
	height: 45px;
	border-bottom: 2px solid #E33B3D;
}
.no1_f span.lingyuangou{
	line-height: 45px;
	color:#E33B3D;
	font-size: 18px;
	font-weight: bold;
}
.no1_f span.jingxi{
	line-height: 45px;
	font-size: 15px;
	padding-left: 20px;
}
.no1_f ul li{
	float: left;
}
.no1_f ul li a{
	padding-left: 16px;
	line-height: 45px;
	display: block;
}
.no1_f ul li a.new{
	position: relative;
}
.no1_f ul li a.new b{
	position: absolute;
	top:0;
	right:-11px;
	background:  url(../images/icon_new.gif) no-repeat;
	width: 21px;
	height: 12px;
}
/*no1_content开始*/
.no1_content .li{
    float: left;
    width: 225px;
    height: 250px;
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-right: 13px;
}
.no1_content div.li.cur{
	border: 1px solid #e33b3d;
}
.no1_content .li5,.no1_content .li10{
	margin-right: 0px;
}
.no1_content .li .goods_img{
	  padding: 9px;
	  height: 140px;
	  text-align: center;
	  overflow: hidden;
}
.no1_content .li img{
	width: 207px;
	height: 140px;
}
.no1_content .li .goods_title{
  padding: 20px 10px;
  font-size: 12px;
  height: 16px;
  overflow: hidden;
}
.no1_content .li .goods_price{
	width: 225px;
	height: 35px;
	border-top: 1px solid #ddd;
	background-color: #fbfbfb;
}
.no1_content .li .goods_price span{
	float: left;
	height: 35px;
	line-height: 35px;
}
.no1_content .li .goods_price .g_price_icon{
	padding-left: 7px;
	padding-right: 3px;
	width: 14px;
	font-size:18px; 
    color: #e42014;  
}
.no1_content .li .goods_price .g_price{
	width: 49px;
	font-weight: 700;
    font-size: 22px;
    color: #e42014;
    font-family: "Microsoft YaHei";
}
.no1_content .li .goods_price .g_nowPrice{
	width: 31px;
	text-align: center;
    text-decoration: line-through;
    border-right: 1px solid #ddd;
    font-size: 12px;
}
.no1_content .li .goods_price .g_lw,.no1_content .li .goods_price .g_lper{
    padding: 0px 5px 0 10px;
    font-size: 12px;
}
.no1_content .li .goods_price .g_lNum{
   font-size: 18px;
   line-height: 35px;
   color: #339900;
}
/*no2_f开始*/
.no2_f{
	height: 45px;
	border-bottom: 2px solid #65a043;
}
.no2_f span.jupianyi{
	line-height: 45px;
	color:#65a043;
	font-size: 18px;
	font-weight: bold;
}
.no2_f span.shangxian{
	line-height: 45px;
	font-size: 15px;
	padding-left: 20px;
}
.no2_f ul li{
	float: left;
}
.no2_f ul li a{
	padding-left: 16px;
	line-height: 45px;
	display: block;
}
.no2_f ul li.gengduo{
	padding-top: 8px;
}
.no2_content .li{
    float: left;
    width: 296px;
    height: 312px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
    position: relative;
}
.no2_content .li4,.no2_content .li8{
	border-right: 1px solid #ddd;
}
.no2_content .li .in{
	position: absolute;
	width: 278px;
    height: 294px;
    top:-1px;
    left: -1px;
    z-index: 3;
    padding: 9px;
    border: 1px solid transparent;
}
.no2_content .li div.in.cur{
    border: 1px solid #e33b3d;
}
.no2_content .li .in .goods_img{  
	  height: 190px;
	  text-align: center;
	  overflow: hidden;
}
.no2_content .li .in img{
	width: 277px;
	height: 190px;
}
.no2_content .li .in .goods_title{
  font-size: 12px;
  height: 55px;
  line-height: 55px;
  margin-top: 2px;
}
.no2_content .li .in .goods_price{
	height: 34px;
}
.no2_content .li .in .goods_price span{
	float: left;
}
.no2_content .li .in .goods_price .g_price_icon{
	font-size: 22px;
  color: #e42014;
  font-family: "Microsoft YaHei";
  padding-left: 2px;
}
.no2_content .li .in .goods_price .g_price{
	font-size: 22px;
  color: #e42014;
  font-family: "Microsoft YaHei";
  font-weight: bold;
  padding-left: 6px;
}
.no2_content .li .in .goods_price .g_baoyou{
	width: 82px;
	text-align: center;
	  text-decoration: line-through;
	  padding-top: 16px;
	  position: relative;
}
.no2_content .li .in .goods_price .g_baoyou b{
	position: absolute;
	width: 33px;
	height: 18px;
	top:-3px;
	left: 22px;
	background:  url(../images/baohuang.png) no-repeat;
}
.no2_content .li .in .goods_price .g_qiang{
	width: 118px;
}
.no2_content .li .in .goods_price .g_qiang a{
	display: block;
	width: 69px;
	height: 30px;
	margin-left: auto;
}
.no2_content .li .in .goods_price .g_qiang a img{
	width: 69px;
	height: 30px;
}
 /*no3_f开始*/
.no3_f{
	height: 45px;
	border-bottom: 2px solid #7fd0dd;
}
.no3_f span.jiukuai{
	line-height: 45px;
	color:#7fd0dd;
	font-size: 18px;
	font-weight: bold;
}
.no3_f span.baoyou{
	line-height: 45px;
	font-size: 15px;
	padding-left: 20px;
}
.no3_f ul li{
	float: left;
}
.no3_f ul li a{
	padding-left: 16px;
	line-height: 45px;
	display: block;
}
.no3_f ul li.gengduo{
	padding-top: 8px;
}
.no3_content .li{
    float: left;
    width: 296px;
    height: 395px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
    position: relative;
}
.no3_content .li4,.no3_content .li8{
	border-right: 1px solid #ddd;
}
.no3_content .li .in{
	position: absolute;
	width: 278px;
    height: 377px;
    top:-1px;
    left: -1px;
    z-index: 3;
    padding: 9px;
    border: 1px solid transparent;
}
.no3_content .li div.in.cur{
    border: 1px solid #e33b3d;
}
.no3_content .li .in .goods_img{  
	  height: 277px;
	  text-align: center;
	  overflow: hidden;
}
.no3_content .li .in img{
	width: 277px;
	height: 277px;
}
.no3_content .li .in .goods_title{
  font-size: 12px;
  height: 55px;
  line-height: 55px;
  margin-top: 2px;
}
.no3_content .li .in .goods_price{
	height: 34px;
}
.no3_content .li .in .goods_price span{
	float: left;
}
.no3_content .li .in .goods_price .g_price_icon{
	font-size: 22px;
  color: #e42014;
  font-family: "Microsoft YaHei";
  padding-left: 2px;
}
.no3_content .li .in .goods_price .g_price{
	font-size: 22px;
  color: #e42014;
  font-family: "Microsoft YaHei";
  font-weight: bold;
  padding-left: 6px;
}
.no3_content .li .in .goods_price .g_baoyou{
	width: 82px;
	text-align: center;
	  text-decoration: line-through;
	  padding-top: 16px;
	  position: relative;
}
.no3_content .li .in .goods_price .g_baoyou b{
	position: absolute;
	width: 38px;
	height: 18px;
	top:-3px;
	left: 22px;
	background:  url(../images/bao.png) no-repeat;
}
.no3_content .li .in .goods_price .g_yimai{
	width: 118px;
}
.no3_content .li .in .goods_price .g_yimai a{
	display: block;
	width: 75px;
	margin-left: auto;
	font-size: 15px;
}
.no3_content .li .in .goods_price .g_yimai a b{
	color:#63be01;
	font-weight: normal;
}
/*no4_f开始*/
.no4_f{
	border-bottom: 2px solid #9e6455;
}
.no3_f span.zhekou{
	color:#9e6455;
}
.no4_content .li .in .goods_price .g_yimai {
  width: 104px;
}
.bd_b{
	border-bottom: 1px solid #ddd;
}
/*about开始*/
.about{
	padding-left: 96px;
	padding-top: 15px;
	overflow: hidden;
}
.about div{
	width: 176px;
	height: 108px;
	padding-left: 39px;
}
.about .no1{
	background:  url(../images/foot_1.png) 0 6px no-repeat;
}
.about .no2{
	background:  url(../images/foot_23.png) 0 6px no-repeat;
}
.about .no3{
	background:  url(../images/foot_23.png) 0 6px no-repeat;
}
.about .no4{
	background:  url(../images/foot_4.png) 0 6px no-repeat;
}
.about .no5{
	background:  url(../images/foot_5.png) 0 6px no-repeat;
}
.about dl dt{
	line-height: 33px;
	font-size: 15px;
	font-weight: bold;
}
.about dl dd{
	line-height: 25px;
}
/*footer开始*/
.footer{
	height: 159px;
}
.footer .link{
	height: 18px;
	line-height: 18px;
	margin-top: 40px;
}
.footer .link .youqing{
	padding-left: 224px;
	height: 18px;
}
.footer .link .carousel{
	width: 685px;
	height: 18px;
	margin-left: 24px;
	position: relative;
	overflow: hidden;
}
.footer .link .carousel .gundong{
	position: absolute;
	top:0;
	left:0;
}
.footer .link .carousel .gundong li{
	height: 18px;
}
.footer .link .carousel .gundong .sougou{
	padding-left: 60px;
}
.footer .copyright{
	text-align: center;
	line-height: 23px;
	height: 23px;
	margin-top: 8px;
}
.footer .tubiao{
	width: 795px;
	height: 40px;
	margin-left:182px;
	margin-top: 8px;
}
.footer .tubiao a{
	margin-right:5px;
}